* { 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body { 
    background-color:rgb(243, 241, 240);
}

/* NAVIGATION BAR */


nav { 
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #f5f3f1;
    font-family: 'Teko', sans-serif;
    z-index: 10000;
    padding: 1% 4%;
    

    }


.nav-links { 
    display: flex;
    justify-content: space-around;
    width: 45%;
}
.nav-links a{ 
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 8px;
    font-size: 23px;
}
.nav-links a:hover{ 
    color: red;
    text-decoration: underline;

}
.nav-links li { 
    list-style: none;
}
.burger { 
    display: none;
    cursor: pointer;
}

.burger div { 
    width: 25px;
    height: 3px;
    background-color: black; 
    margin: 5px;
    transition: all 0.3s ease;

}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  }
@media screen and (max-width:1024px) {
    .nav-links { 
         width: 70%;
    }
}

@media screen and (max-width:768px) {
    
    .nav-links { 
        position: absolute;
        right: 0px;
        height: 70vh;
        top: 14vh;
        background-color: #f5f3f1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 2;
    }
    .nav-links li { 
        opacity: 0;
    }
    .burger { 
        display: block;
    }
    .logo { 
        size: 70%;
    }

}

.nav-active{ 
    transform: translateX(0%);
}
 
@keyframes navLinkFade {
     from{
         opacity: 0;
         transform: translateX(50px);
     }
     to{ 
         opacity: 1;
         transform: translateX(0px);
     }
     
 }

 .toggle .line1 { 
     transform: rotate(-45deg) translate(-5px,6px);

 }
 .toggle .line2 { 
     opacity: 0;
}
 .toggle .line3 { 
    transform: rotate(45deg) translate(-5px,-6px);

     
}

/* heading */
.home { position: relative;
    width: 100%;
    padding-left: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(rgb(47, 48, 48),rgb(30,30,30), rgb(22,22,22) );
    padding-bottom: 3%;
    padding-top: 3%;
}
.home .introText
{ 
    position: relative;
    max-width: 600px;
} 
.home .introText h2  {
    color: #f5f3f1;
    font-family: 'Teko', sans-serif;
    font-size: 3.3em;
    line-height: 1em;
    font-weight: 500;
}
.home .introText h2 span { 
    color: rgb(237,30,37);
    font-weight: 900;
    font-size: 1.1em;
}
.home .introText h3  {
    color: #f5f3f1;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 500;
    padding-top: 2%;
}
.home .coffeeBottles { 
    
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    
}
.home .coffeeBottles:hover { 
    transform: scale(107%);
    transition:  all 0.5s ease-in-out;
}
.typetext > .txt {
    border-right: 0.2rem solid #777;
}
@media screen and (min-width: 1200px) { 
    .home .introText h2 { 
        font-size: 4rem;
    }
    .home .introText h3{ 
        font-size: 3rem ;
    }
}
@media screen and (max-width: 800px) { 
    .home .introText h2 { 
        font-size: 3rem;
    }
    .home .introText h3{ 
        font-size: 2rem ;
    }
    .home .coffeeBottles:hover{
        transform: scale(102%S);
    }
}

@media screen and (max-width: 500px) { 
    .home .introText h2 { 
        font-size: 2.5rem;
    }
    .home .introText h3{ 
        font-size: 1.5rem ;
    }
}



/* WHY BOLT */
.Sec2 { min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.whyBolt { 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left { 
    width: 60%;
    height: 500px;
    
    background: url(../images/whyBolt.png) no-repeat center/cover;
    border-radius: 10px;
}
.right { 
    width: 50%;
    min-height: 350px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    margin-left: -75px;
}
.right h1 {
    font-family: 'Teko', sans-serif;
    font-size: 60px;
    padding-bottom: 4%;
    
}
.right h1 span{ 
    color: rgb(237,30,37);
}
.right ul  {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bolder;
}
.right li { 
    list-style: none;
    padding-bottom: 10px;
}
@media screen and (max-width: 768px){
    .whyBolt { 
        flex-direction: column;
        width: 100%;
        margin: 30px 5px;
    }
    .left .left2{ 
        width: 85%;
    }
    .right{ 
        width: 80%;
        margin: 0;
        margin-top: -80px;
    }

}

/* PRODUCTS */
.productHeading{
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size: 30px;
    padding-top: 2.5%;
}

.productHeading h1 span {
    color: rgb(237,30,37);
}

main { 
    padding: 1rem 0;

}
.slide-container { 
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.arrow  {
    width: 2rem;
    margin: 0 1rem;
}
 section{ 
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

section::-webkit-scrollbar{
    height: 5px;
    width: 1px;
    border: 1px solid rgba(31, 31, 31, 0.103)
}
section::-webkit-scrollbar-track{
    --webkit-box-shadow: inset 0 0 6px red; 

}
section::-webkit-scrollbar-thumb{
    background-color: red;
    outline: 1px solid #eee;
    
}

.box { 
    min-width: 300px;
    height: 520px;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.541);
    overflow: hidden;
    margin: 1%;
    background: linear-gradient(rgb(58, 58, 58),rgb(39, 39, 39));
}

.slide-img  {
    height: 300px;
    position: relative;
}


.slide-img img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.box:hover{ 
transform: scale(97%);
transition:all 0.3s ease;
opacity: 95%;

}

.detail-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    color:#f5f3f1 ;


}
.detail-box h3{ 
    font-family: 'Teko', sans-serif;
   font-size: 35px;
   letter-spacing: 1.5px;
   
   }
.detail-box p  {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    padding-top: 3px;

}
.divider { 
    width: 50px;
    height: 3px;
    background-color: rgb(255, 20, 20); 
    margin: 2px;
}

/* ABOUT */
.left2 { 
    width: 60%;
    height: 500px;
    background: url(https://cdn.shopify.com/s/files/1/0265/1255/6084/files/10_d00eeaf6-c65b-455f-96c1-21d004fd912b_1080x.jpg?v=1570115377) no-repeat center/cover;
    
    border-radius: 10px;
}
.right p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bolder;
}


/* contact */
footer { 
    background: linear-gradient(rgb(49, 49, 49),rgb(26, 26, 26));
    padding: 90px 70px ;
}
.footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
.social-media{
    margin: 30px 0;
}
.social-media a { 
    color: rgb(243, 241, 240) ;
    margin-right: 25px;
    font-size: 25px;
    text-decoration: none;
    transition: 0.3s linear;
}
.social-media a:hover{ 
    color: rgb(255, 20, 20);
}
.border { 
    width: 100px;
    height: 4px;
    background:rgb(255, 20, 20) ;
}
.border1 { 
    width: 100px;
    height: 4px;
    background:rgb(255, 20, 20) ;
}

.newsletter-form { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.txtb { 
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    min-width: 260px;
    background: #ddd;
    border: none;
    font-weight: 700px;
    outline: none;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.btn
{ 
    background: rgb(255, 20, 20);
    padding: 18px 40px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    transition: 0.2s linear;
}
.btn:hover { 
    opacity: 60%;
}

.right-col p { 
    color: rgb(243, 241, 240);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    margin: 20px 0;
    
}
.contact-title{ 
    color: rgb(243, 241, 240);
    font-family: 'Teko', sans-serif;
   font-size: 50px;

}
.contact-title span{ 
    color: rgb(255, 20, 20);
}
.right-col h1 { 
    color: rgb(243, 241, 240);
    font-family: 'Teko', sans-serif;
   font-size: 50px;
}
.right-col h1 span { 
    color: rgb(255, 20, 20);
}
.copyright-text{ 
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: rgb(243, 241, 240);
}

@media screen and (max-width:700px){
    .btn{
      margin: 0;
      width: 100%;
      margin-top: 20px;
      }
      .txtb{ 
          width: 100%;
      }
  }
  

@media screen and (max-width:746px) {
    .footer-container{ 
        max-width: 600px;
    }
    .right-col{ 
        width: 100%;
        margin-bottom: 60px;
    }
    .left-col { 
        width: 100%;
        text-align: center;
    }
    .border1{ 
        display: none;
    }
}

